// General
img {border-radius: 4px;}

.site-content{
    column-gap: 20px;
}

// Main Navigation 
#sticky-navigation, .site-header{
    border-bottom: 3px solid var(--accent);
}

// Main Container Paddings
#sticky-navigation, .site-header{
    padding-inline: 20px;
       
}
@media (max-width: calc($max-site-width + 40px)) {
    body:not(.full-width-content) .site{padding-inline: 20px;}
}


/* Hide Submenu-Arrows in Main-Menu */
@media (min-width: 769px) {
    #primary-menu .menu-item-has-children .dropdown-menu-toggle {
        display: none;
    }
    #primary-menu .main-navigation .main-nav ul li.menu-item-has-children a {
        padding-right: 10px;
    }
}

/* PV Calculator */
.hero-width-calculator{
    width: 100%;
    transition: transform .2s ease-out;
    display: flex;
    div:nth-child(2){
        transition: transform .2s ease-out;
        width: 100%;
        flex-shrink: 0;
    } 

    div:nth-child(1){
        transition: transform .2s ease-in;
        width: 100%;
        flex-shrink: 0;
    } 
}
.pv-calculator-toggle{
    cursor: pointer;
}


/* Footer */
.site-footer{
    .wp-block-categories-list, .wp-block-latest-posts{
        margin-left: 0px;

        li{
            margin-bottom: 10px;
            &::marker{display:none;}
        }
        
        
    }
}

// Related Posts
.related-posts {
    display: flex;
    gap: 10px;
    @media (max-width: 650px){
        flex-direction: column;
    }
    margin-bottom: 20px !important;
}

.related-post {
    flex: 1;
    gap: 10px;
    img{
      width: 100%;  
    }
}

.cf7-form{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    column-gap: 20px; 
    grid-template-areas: 
      "Namee Namee"
      "Telefon Email"
      "Time Time"; 

    .name { grid-area: Namee; }
    .telefon { grid-area: Telefon; }
    .email { grid-area: Email; }
    .time { grid-area: Time; }

    input{width: 100%;}
}

.frm_forms .frm_image_options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    .frm_image_option{
        margin: 0px !important;
        @media (max-width: 550px){flex-basis: calc(50% - 10px);}
        flex-shrink: 0;
    }
    .frm_opt_container{
        margin: 0px;
        justify-content: space-around;
        .frm_image_option_container{
            border: none;
            padding: 10px;
            cursor: pointer;
            img{
                object-fit: contain;
            }
        }
    }
}



  