// General
img {border-radius: 4px;}

// Main Navigation 
#sticky-navigation, .site-header{
    border-bottom: 3px solid var(--accent);
}

/* Hide Submenu-Arrows in Main-Menu */
@media (min-width: 769px) {
    #primary-menu .menu-item-has-children .dropdown-menu-toggle {
        display: none;
    }
    #primary-menu .main-navigation .main-nav ul li.menu-item-has-children a {
        padding-right: 10px;
    }
}

/* PV Calculator */
.hero-width-calculator{
    width: 100%;
  transition: transform .2s ease-out;
    display: flex;
    div:nth-child(2){
        transition: transform .2s ease-out;
        width: 100%;
  flex-shrink: 0;
    } 

    div:nth-child(1){
        transition: transform .2s ease-in;
        width: 100%;
        flex-shrink: 0;
    } 
}

/* Footer */
.site-footer{
    .wp-block-categories-list, .wp-block-latest-posts{
        margin-left: 0px;

        li{
            margin-bottom: 10px;
            &::marker{display:none;}
        }
        
        
    }
}
